USE [master]
GO
/****** Object:  Database [trac_nghiem_online]    Script Date: 5/16/2023 10:06:27 PM ******/
CREATE DATABASE [trac_nghiem_online]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'trac_nghiem_online', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\trac_nghiem_online.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'trac_nghiem_online_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\trac_nghiem_online_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [trac_nghiem_online].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [trac_nghiem_online]
GO
/****** Object:  Table [dbo].[admins]    Script Date: 5/16/2023 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[admins](
	[id_admin] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](20) NOT NULL,
	[password] [varchar](32) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[avatar] [varchar](255) NULL CONSTRAINT [DF__admins__avatar__45F365D3]  DEFAULT ('avatar-default.jpg'),
	[name] [nvarchar](100) NOT NULL,
	[gender] [nvarchar](50) NOT NULL,
	[birthday] [date] NULL,
	[phone] [varchar](45) NULL,
	[id_permission] [int] NOT NULL,
	[last_login] [datetime] NULL,
	[last_seen] [nvarchar](100) NULL,
	[last_seen_url] [varchar](100) NULL,
	[timestamps] [datetime] NULL CONSTRAINT [DF_admins_timestamps]  DEFAULT (getdate()),
 CONSTRAINT [PK__admins__89472E9530A157A8] PRIMARY KEY CLUSTERED 
(
	[id_admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[classes]    Script Date: 5/16/2023 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[classes](
	[id_class] [int] IDENTITY(1,1) NOT NULL,
	[class_name] [nvarchar](50) NOT NULL,
	[id_grade] [int] NOT NULL,
	[id_speciality] [int] NOT NULL,
	[timestamps] [datetime] NULL CONSTRAINT [DF_classes_timestamps]  DEFAULT (getdate()),
 CONSTRAINT [PK__classes__2352EEA93059EA0D] PRIMARY KEY CLUSTERED 
(
	[id_class] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[grades]    Script Date: 5/16/2023 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grades](
	[id_grade] [int] IDENTITY(1,1) NOT NULL,
	[grade_name] [nvarchar](50) NOT NULL,
	[timestamps] [datetime] NULL CONSTRAINT [DF_grades_timestamps]  DEFAULT (getdate()),
 CONSTRAINT [PK__grades__6DB797E43E3A39E1] PRIMARY KEY CLUSTERED 
(
	[id_grade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[permissions]    Script Date: 5/16/2023 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id_permission] [int] IDENTITY(1,1) NOT NULL,
	[permission_name] [nvarchar](50) NOT NULL,
	[timestamps] [datetime] NULL CONSTRAINT [DF_permissions_timestamps]  DEFAULT (getdate()),
 CONSTRAINT [PK__permissi__5180B3BFE43D88CB] PRIMARY KEY CLUSTERED 
(
	[id_permission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[questions]    Script Date: 5/16/2023 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[questions](
	[id_question] [int] IDENTITY(1,1) NOT NULL,
	[id_subject] [int] NOT NULL,
	[unit] [int] NOT NULL,
	[img_content] [varchar](255) NULL,
	[content] [ntext] NOT NULL,
	[answer_a] [ntext] NOT NULL,
	[answer_b] [ntext] NOT NULL,
	[answer_c] [ntext] NOT NULL,
	[answer_d] [ntext] NOT NULL,
	[correct_answer] [ntext] NOT NULL,
	[timestamps] [datetime] NULL CONSTRAINT [DF_questions_timestamps]  DEFAULT (getdate()),
 CONSTRAINT [PK__question__2BD924771B7173C5] PRIMARY KEY CLUSTERED 
(
	[id_question] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[quests_of_test]    Script Date: 5/16/2023 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quests_of_test](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[test_code] [int] NOT NULL,
	[id_question] [int] NOT NULL,
	[timestamps] [datetime] NULL CONSTRAINT [DF_quests_of_test_timestamps]  DEFAULT (getdate()),
 CONSTRAINT [PK__quests_o__3214EC27B8C23CE0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[scores]    Script Date: 5/16/2023 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[scores](
	[id_score] [int] IDENTITY(1,1) NOT NULL,
	[id_student] [int] NOT NULL,
	[test_code] [int] NOT NULL,
	[score_number] [float] NOT NULL,
	[detail] [nchar](50) NOT NULL,
	[time_finish] [datetime] NULL CONSTRAINT [DF_scores_time_finish]  DEFAULT (getdate()),
 CONSTRAINT [PK_scores] PRIMARY KEY CLUSTERED 
(
	[id_student] ASC,
	[test_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[specialities]    Script Date: 5/16/2023 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[specialities](
	[id_speciality] [int] IDENTITY(1,1) NOT NULL,
	[speciality_name] [nvarchar](255) NOT NULL,
	[timestamps] [datetime] NULL CONSTRAINT [DF_specialities_timestamps]  DEFAULT (getdate()),
 CONSTRAINT [PK__speciali__CF97EB984CF2A323] PRIMARY KEY CLUSTERED 
(
	[id_speciality] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[statuses]    Script Date: 5/16/2023 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statuses](
	[id_status] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [nvarchar](50) NOT NULL,
	[timestamps] [datetime] NULL CONSTRAINT [DF_statuses_timestamps]  DEFAULT (getdate()),
 CONSTRAINT [PK__statuses__5D2DC6E865E1C90F] PRIMARY KEY CLUSTERED 
(
	[id_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[student_test_detail]    Script Date: 5/16/2023 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_test_detail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[id_student] [int] NOT NULL,
	[test_code] [int] NOT NULL,
	[id_question] [int] NOT NULL,
	[answer_a] [ntext] NOT NULL,
	[answer_b] [ntext] NOT NULL,
	[answer_c] [ntext] NOT NULL,
	[answer_d] [ntext] NOT NULL,
	[student_answer] [ntext] NULL,
	[timestamps] [datetime] NULL CONSTRAINT [DF_student_test_detail_timestamps]  DEFAULT (getdate()),
 CONSTRAINT [PK_student_test_detail] PRIMARY KEY CLUSTERED 
(
	[id_student] ASC,
	[test_code] ASC,
	[id_question] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[students]    Script Date: 5/16/2023 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[students](
	[id_student] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](20) NOT NULL,
	[password] [varchar](32) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[avatar] [varchar](255) NULL CONSTRAINT [DF__students__avatar__4E88ABD4]  DEFAULT ('avatar-default.jpg'),
	[name] [nvarchar](100) NOT NULL,
	[gender] [nvarchar](50) NOT NULL,
	[birthday] [date] NULL,
	[phone] [varchar](45) NULL,
	[id_permission] [int] NOT NULL,
	[id_class] [int] NOT NULL,
	[id_speciality] [int] NOT NULL,
	[is_testing] [int] NULL CONSTRAINT [DF__students__is_tes__52593CB8]  DEFAULT (NULL),
	[time_start] [datetime] NULL,
	[time_remaining] [varchar](10) NULL CONSTRAINT [DF__students__time_r__534D60F1]  DEFAULT (NULL),
	[last_login] [datetime] NULL,
	[last_seen] [nvarchar](100) NULL,
	[last_seen_url] [varchar](100) NULL,
	[timestamps] [datetime] NULL CONSTRAINT [DF_students_timestamps]  DEFAULT (getdate()),
 CONSTRAINT [PK__students__2BE2EBB681A432C4] PRIMARY KEY CLUSTERED 
(
	[id_student] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[subjects]    Script Date: 5/16/2023 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subjects](
	[id_subject] [int] IDENTITY(1,1) NOT NULL,
	[subject_name] [nvarchar](255) NOT NULL,
	[timestamps] [datetime] NULL CONSTRAINT [DF_subjects_timestamps]  DEFAULT (getdate()),
 CONSTRAINT [PK__subjects__8F848F6098C0F347] PRIMARY KEY CLUSTERED 
(
	[id_subject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[teachers]    Script Date: 5/16/2023 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[teachers](
	[id_teacher] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](20) NOT NULL,
	[password] [varchar](32) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[avatar] [varchar](255) NULL CONSTRAINT [DF__teachers__avatar__49C3F6B7]  DEFAULT ('avatar-default.jpg'),
	[name] [nvarchar](100) NOT NULL,
	[gender] [nvarchar](50) NOT NULL,
	[birthday] [date] NULL,
	[phone] [varchar](45) NULL,
	[id_permission] [int] NOT NULL,
	[id_speciality] [int] NOT NULL,
	[last_login] [datetime] NULL,
	[last_seen] [nvarchar](100) NULL,
	[last_seen_url] [varchar](100) NULL,
	[timestamps] [datetime] NULL CONSTRAINT [DF_teachers_timestamps]  DEFAULT (getdate()),
 CONSTRAINT [PK__teachers__3BAEF8F9A484A318] PRIMARY KEY CLUSTERED 
(
	[id_teacher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tests]    Script Date: 5/16/2023 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tests](
	[test_name] [nvarchar](255) NOT NULL,
	[test_code] [int] NOT NULL,
	[password] [varchar](32) NOT NULL,
	[id_subject] [int] NOT NULL,
	[total_questions] [int] NOT NULL,
	[time_to_do] [int] NOT NULL,
	[note] [ntext] NULL,
	[id_status] [int] NOT NULL,
	[timestamps] [datetime] NULL CONSTRAINT [DF_tests_timestamps]  DEFAULT (getdate()),
 CONSTRAINT [PK_tests] PRIMARY KEY CLUSTERED 
(
	[test_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[admins] ON 

INSERT [dbo].[admins] ([id_admin], [username], [password], [email], [avatar], [name], [gender], [birthday], [phone], [id_permission], [last_login], [last_seen], [last_seen_url], [timestamps]) VALUES (1, N'admin', N'e10adc3949ba59abbe56e057f20f883e', N'admin@gmail.com', N'avatar-default.jpg', N'admin', N'nu', NULL, NULL, 1, NULL, NULL, NULL, CAST(N'2023-05-16 20:40:54.953' AS DateTime))
SET IDENTITY_INSERT [dbo].[admins] OFF
SET IDENTITY_INSERT [dbo].[classes] ON 

INSERT [dbo].[classes] ([id_class], [class_name], [id_grade], [id_speciality], [timestamps]) VALUES (1, N'TH12A', 1, 1, CAST(N'2023-05-16 20:47:46.393' AS DateTime))
INSERT [dbo].[classes] ([id_class], [class_name], [id_grade], [id_speciality], [timestamps]) VALUES (2, N'TH12B', 2, 1, CAST(N'2023-05-16 20:47:57.223' AS DateTime))
SET IDENTITY_INSERT [dbo].[classes] OFF
SET IDENTITY_INSERT [dbo].[grades] ON 

INSERT [dbo].[grades] ([id_grade], [grade_name], [timestamps]) VALUES (1, N'Th12A', CAST(N'2023-05-16 20:47:06.697' AS DateTime))
INSERT [dbo].[grades] ([id_grade], [grade_name], [timestamps]) VALUES (2, N'th12B', CAST(N'2023-05-16 20:47:11.140' AS DateTime))
SET IDENTITY_INSERT [dbo].[grades] OFF
SET IDENTITY_INSERT [dbo].[permissions] ON 

INSERT [dbo].[permissions] ([id_permission], [permission_name], [timestamps]) VALUES (1, N'admin', CAST(N'2023-05-16 20:39:24.403' AS DateTime))
INSERT [dbo].[permissions] ([id_permission], [permission_name], [timestamps]) VALUES (2, N'giaovien', CAST(N'2023-05-16 20:39:44.310' AS DateTime))
INSERT [dbo].[permissions] ([id_permission], [permission_name], [timestamps]) VALUES (3, N'hocsinh', CAST(N'2023-05-16 20:39:46.813' AS DateTime))
SET IDENTITY_INSERT [dbo].[permissions] OFF
SET IDENTITY_INSERT [dbo].[questions] ON 

INSERT [dbo].[questions] ([id_question], [id_subject], [unit], [img_content], [content], [answer_a], [answer_b], [answer_c], [answer_d], [correct_answer], [timestamps]) VALUES (1, 1, 7, N'noimage.png', N'tích đáp số tích phân hàm sau', N'4', N'1', N'2', N'3', N'1', NULL)
INSERT [dbo].[questions] ([id_question], [id_subject], [unit], [img_content], [content], [answer_a], [answer_b], [answer_c], [answer_d], [correct_answer], [timestamps]) VALUES (2, 1, 7, N'noimage.png', N'Trả lời câu hỏi: 1+1=?', N'6', N'2', N'4', N'3', N'2', NULL)
SET IDENTITY_INSERT [dbo].[questions] OFF
SET IDENTITY_INSERT [dbo].[quests_of_test] ON 

INSERT [dbo].[quests_of_test] ([ID], [test_code], [id_question], [timestamps]) VALUES (1, 889951, 1, NULL)
INSERT [dbo].[quests_of_test] ([ID], [test_code], [id_question], [timestamps]) VALUES (2, 222131, 1, NULL)
INSERT [dbo].[quests_of_test] ([ID], [test_code], [id_question], [timestamps]) VALUES (3, 222131, 2, NULL)
SET IDENTITY_INSERT [dbo].[quests_of_test] OFF
SET IDENTITY_INSERT [dbo].[scores] ON 

INSERT [dbo].[scores] ([id_score], [id_student], [test_code], [score_number], [detail], [time_finish]) VALUES (1, 3, 1, 1, N'1/10                                              ', CAST(N'2023-05-16 21:55:54.423' AS DateTime))
INSERT [dbo].[scores] ([id_score], [id_student], [test_code], [score_number], [detail], [time_finish]) VALUES (2, 3, 222131, 5, N'1/2                                               ', CAST(N'2023-05-16 22:04:55.330' AS DateTime))
SET IDENTITY_INSERT [dbo].[scores] OFF
SET IDENTITY_INSERT [dbo].[specialities] ON 

INSERT [dbo].[specialities] ([id_speciality], [speciality_name], [timestamps]) VALUES (1, N'công nghệ phần mềm', CAST(N'2023-05-16 20:47:36.770' AS DateTime))
INSERT [dbo].[specialities] ([id_speciality], [speciality_name], [timestamps]) VALUES (2, N'hệ thống thông tin', CAST(N'2023-05-16 20:47:42.380' AS DateTime))
SET IDENTITY_INSERT [dbo].[specialities] OFF
SET IDENTITY_INSERT [dbo].[statuses] ON 

INSERT [dbo].[statuses] ([id_status], [status_name], [timestamps]) VALUES (1, N'Hoàn thành', CAST(N'2023-05-16 21:24:33.620' AS DateTime))
INSERT [dbo].[statuses] ([id_status], [status_name], [timestamps]) VALUES (2, N'Nháp', CAST(N'2023-05-16 21:24:38.823' AS DateTime))
SET IDENTITY_INSERT [dbo].[statuses] OFF
SET IDENTITY_INSERT [dbo].[student_test_detail] ON 

INSERT [dbo].[student_test_detail] ([ID], [id_student], [test_code], [id_question], [answer_a], [answer_b], [answer_c], [answer_d], [student_answer], [timestamps]) VALUES (1, 3, 1, 1, N'1', N'2', N'3', N'4', N'1', CAST(N'2023-05-16 21:51:43.987' AS DateTime))
INSERT [dbo].[student_test_detail] ([ID], [id_student], [test_code], [id_question], [answer_a], [answer_b], [answer_c], [answer_d], [student_answer], [timestamps]) VALUES (3, 3, 222131, 1, N'1', N'2', N'4', N'3', N'1', NULL)
INSERT [dbo].[student_test_detail] ([ID], [id_student], [test_code], [id_question], [answer_a], [answer_b], [answer_c], [answer_d], [student_answer], [timestamps]) VALUES (2, 3, 222131, 2, N'3', N'4', N'2', N'6', N'3', NULL)
SET IDENTITY_INSERT [dbo].[student_test_detail] OFF
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([id_student], [username], [password], [email], [avatar], [name], [gender], [birthday], [phone], [id_permission], [id_class], [id_speciality], [is_testing], [time_start], [time_remaining], [last_login], [last_seen], [last_seen_url], [timestamps]) VALUES (3, N'hocsinh', N'e10adc3949ba59abbe56e057f20f883e', N'hocsinh@gmail.com', N'avatar-default.jpg', N'học sinh', N'Nữ', CAST(N'2002-04-13' AS Date), NULL, 3, 1, 1, NULL, NULL, N'3:54', NULL, NULL, NULL, CAST(N'2023-05-16 20:48:07.397' AS DateTime))
SET IDENTITY_INSERT [dbo].[students] OFF
SET IDENTITY_INSERT [dbo].[subjects] ON 

INSERT [dbo].[subjects] ([id_subject], [subject_name], [timestamps]) VALUES (1, N'Giải tích 1', NULL)
INSERT [dbo].[subjects] ([id_subject], [subject_name], [timestamps]) VALUES (2, N'Xác suất thống kê', NULL)
SET IDENTITY_INSERT [dbo].[subjects] OFF
SET IDENTITY_INSERT [dbo].[teachers] ON 

INSERT [dbo].[teachers] ([id_teacher], [username], [password], [email], [avatar], [name], [gender], [birthday], [phone], [id_permission], [id_speciality], [last_login], [last_seen], [last_seen_url], [timestamps]) VALUES (1, N'giaovien', N'e10adc3949ba59abbe56e057f20f883e', N'giaovien@gmail.com', N'avatar-default.jpg', N'giáo viên', N'Nữ', CAST(N'2023-05-13' AS Date), NULL, 2, 1, NULL, NULL, NULL, CAST(N'2023-05-16 20:48:53.060' AS DateTime))
SET IDENTITY_INSERT [dbo].[teachers] OFF
INSERT [dbo].[tests] ([test_name], [test_code], [password], [id_subject], [total_questions], [time_to_do], [note], [id_status], [timestamps]) VALUES (N'bài 1', 1, N'123456', 1, 10, 1, NULL, 1, CAST(N'2023-05-16 21:45:22.380' AS DateTime))
INSERT [dbo].[tests] ([test_name], [test_code], [password], [id_subject], [total_questions], [time_to_do], [note], [id_status], [timestamps]) VALUES (N'Giải tích lập trình', 222131, N'e10adc3949ba59abbe56e057f20f883e', 1, 2, 4, N'không', 1, NULL)
INSERT [dbo].[tests] ([test_name], [test_code], [password], [id_subject], [total_questions], [time_to_do], [note], [id_status], [timestamps]) VALUES (N'Giải tích', 889951, N'e10adc3949ba59abbe56e057f20f883e', 1, 1, 2, N'', 1, NULL)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__admins__B96D23647734DA5F]    Script Date: 5/16/2023 10:06:27 PM ******/
ALTER TABLE [dbo].[admins] ADD  CONSTRAINT [UQ__admins__B96D23647734DA5F] UNIQUE NONCLUSTERED 
(
	[username] ASC,
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_grade_idx]    Script Date: 5/16/2023 10:06:27 PM ******/
CREATE NONCLUSTERED INDEX [fk_grade_idx] ON [dbo].[classes]
(
	[id_grade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_speciality_idx]    Script Date: 5/16/2023 10:06:27 PM ******/
CREATE NONCLUSTERED INDEX [fk_speciality_idx] ON [dbo].[classes]
(
	[id_speciality] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__students__B96D2364BADF7213]    Script Date: 5/16/2023 10:06:27 PM ******/
ALTER TABLE [dbo].[students] ADD  CONSTRAINT [UQ__students__B96D2364BADF7213] UNIQUE NONCLUSTERED 
(
	[username] ASC,
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__teachers__B96D2364E4800B05]    Script Date: 5/16/2023 10:06:27 PM ******/
ALTER TABLE [dbo].[teachers] ADD  CONSTRAINT [UQ__teachers__B96D2364E4800B05] UNIQUE NONCLUSTERED 
(
	[username] ASC,
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__tests__040975ABDF39F7B4]    Script Date: 5/16/2023 10:06:27 PM ******/
ALTER TABLE [dbo].[tests] ADD UNIQUE NONCLUSTERED 
(
	[test_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[admins]  WITH CHECK ADD  CONSTRAINT [FK__admins__id_permi__46E78A0C] FOREIGN KEY([id_permission])
REFERENCES [dbo].[permissions] ([id_permission])
GO
ALTER TABLE [dbo].[admins] CHECK CONSTRAINT [FK__admins__id_permi__46E78A0C]
GO
ALTER TABLE [dbo].[classes]  WITH CHECK ADD  CONSTRAINT [fk_grade] FOREIGN KEY([id_grade])
REFERENCES [dbo].[grades] ([id_grade])
GO
ALTER TABLE [dbo].[classes] CHECK CONSTRAINT [fk_grade]
GO
ALTER TABLE [dbo].[classes]  WITH CHECK ADD  CONSTRAINT [fk_speciality] FOREIGN KEY([id_speciality])
REFERENCES [dbo].[specialities] ([id_speciality])
GO
ALTER TABLE [dbo].[classes] CHECK CONSTRAINT [fk_speciality]
GO
ALTER TABLE [dbo].[questions]  WITH CHECK ADD  CONSTRAINT [FK__questions__id_su__5629CD9C] FOREIGN KEY([id_subject])
REFERENCES [dbo].[subjects] ([id_subject])
GO
ALTER TABLE [dbo].[questions] CHECK CONSTRAINT [FK__questions__id_su__5629CD9C]
GO
ALTER TABLE [dbo].[quests_of_test]  WITH CHECK ADD  CONSTRAINT [FK_quests_of_test_questions] FOREIGN KEY([id_question])
REFERENCES [dbo].[questions] ([id_question])
GO
ALTER TABLE [dbo].[quests_of_test] CHECK CONSTRAINT [FK_quests_of_test_questions]
GO
ALTER TABLE [dbo].[quests_of_test]  WITH CHECK ADD  CONSTRAINT [FK_quests_of_test_tests] FOREIGN KEY([test_code])
REFERENCES [dbo].[tests] ([test_code])
GO
ALTER TABLE [dbo].[quests_of_test] CHECK CONSTRAINT [FK_quests_of_test_tests]
GO
ALTER TABLE [dbo].[scores]  WITH CHECK ADD  CONSTRAINT [FK__scores__id_stude__60A75C0F] FOREIGN KEY([id_student])
REFERENCES [dbo].[students] ([id_student])
GO
ALTER TABLE [dbo].[scores] CHECK CONSTRAINT [FK__scores__id_stude__60A75C0F]
GO
ALTER TABLE [dbo].[scores]  WITH CHECK ADD  CONSTRAINT [FK_scores_tests] FOREIGN KEY([test_code])
REFERENCES [dbo].[tests] ([test_code])
GO
ALTER TABLE [dbo].[scores] CHECK CONSTRAINT [FK_scores_tests]
GO
ALTER TABLE [dbo].[students]  WITH CHECK ADD  CONSTRAINT [FK__students__id_cla__5070F446] FOREIGN KEY([id_class])
REFERENCES [dbo].[classes] ([id_class])
GO
ALTER TABLE [dbo].[students] CHECK CONSTRAINT [FK__students__id_cla__5070F446]
GO
ALTER TABLE [dbo].[students]  WITH CHECK ADD  CONSTRAINT [FK__students__id_per__4F7CD00D] FOREIGN KEY([id_permission])
REFERENCES [dbo].[permissions] ([id_permission])
GO
ALTER TABLE [dbo].[students] CHECK CONSTRAINT [FK__students__id_per__4F7CD00D]
GO
ALTER TABLE [dbo].[students]  WITH CHECK ADD  CONSTRAINT [FK__students__id_spe__5165187F] FOREIGN KEY([id_speciality])
REFERENCES [dbo].[specialities] ([id_speciality])
GO
ALTER TABLE [dbo].[students] CHECK CONSTRAINT [FK__students__id_spe__5165187F]
GO
ALTER TABLE [dbo].[teachers]  WITH CHECK ADD  CONSTRAINT [FK__teachers__id_per__4AB81AF0] FOREIGN KEY([id_permission])
REFERENCES [dbo].[permissions] ([id_permission])
GO
ALTER TABLE [dbo].[teachers] CHECK CONSTRAINT [FK__teachers__id_per__4AB81AF0]
GO
ALTER TABLE [dbo].[teachers]  WITH CHECK ADD  CONSTRAINT [FK__teachers__id_spe__4BAC3F29] FOREIGN KEY([id_speciality])
REFERENCES [dbo].[specialities] ([id_speciality])
GO
ALTER TABLE [dbo].[teachers] CHECK CONSTRAINT [FK__teachers__id_spe__4BAC3F29]
GO
ALTER TABLE [dbo].[tests]  WITH CHECK ADD  CONSTRAINT [FK__tests__id_status__59FA5E80] FOREIGN KEY([id_status])
REFERENCES [dbo].[statuses] ([id_status])
GO
ALTER TABLE [dbo].[tests] CHECK CONSTRAINT [FK__tests__id_status__59FA5E80]
GO
ALTER TABLE [dbo].[tests]  WITH CHECK ADD  CONSTRAINT [FK__tests__id_subjec__59063A47] FOREIGN KEY([id_subject])
REFERENCES [dbo].[subjects] ([id_subject])
GO
ALTER TABLE [dbo].[tests] CHECK CONSTRAINT [FK__tests__id_subjec__59063A47]
GO
USE [master]
GO
